.home
{
    position: relative;
    top: 8em;
    right: 42%;
    background: white;
}

th
{
    height: 3em;
}

th, td
{
    border: 1px solid black;
    background-color: aliceblue;
}

.mainTable
{
    border: 1px solid black;
    width: 50em;
}

.character
{
    padding: 2em;
}