body
{
    background-image: url('./compnents/assets/red_velvet_background.jpg');
}

.footer
{

    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 10%;
    padding: .5em;
    text-align: center;
    background-color: brown;
    border-top: 3px solid black;
    color: aliceblue;
}

.links
{
    text-decoration: none;
    color: aliceblue;
}